{% extends "_base.html" %}
{% block content %}
    <h1>Recipes</h1>
    <ul>
        {% for recipe in object_list %}
            <li>
                <a href="{{ recipe.url }}">{{ recipe }}</a>
                <a href="{{ recipe.get_update_url }}">Edit</a>
                <a href="{{ recipe.get_delete_url }}">Delete</a>
                {% if recipe.notes %}
                    <h3>Notes</h3>
                    <p name="notes">{{ recipe.notes }}</p>
                {% endif %}
            </li>
        {% empty %}
            <li>No recipes yet.</li>
        {% endfor %}
        <li>
            <a href="{% url 'recipes:recipe-create' %}">Add New Recipe</a>
        </li>
    </ul>
{% endblock content %}
