{% extends "_base.html" %}
{% block content %}
    <h1>Recipes</h1>
    {% for recipe in object_list %}
        <article>
            <a href="{{ recipe.url }}">{{ recipe }}</a>
            {% if recipe.notes %}<p>{{ recipe.notes }}</p>{% endif %}
            <div role="group">
                <button>
                    <a href="{{ recipe.get_update_url }}" class="secondary">Edit</a>
                </button>
                <button>
                    <a href="{{ recipe.get_delete_url }}" class="contrast">Delete</a>
                </button>
            </div>
        </article>
    {% empty %}
        <p>No recipes yet.</p>
    {% endfor %}
    <a href="{% url 'recipes:recipe-create' %}">Add New Recipe</a>
{% endblock content %}
